<template>
    <div class="container">
            <div class="col-md-12">
                <h1><a href="/">FC Groups App</a></h1>
            </div>

        <div class="row">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {}
</script>
<style lang="scss" scoped>
    .nav {
        margin-bottom: 20px;
    }
</style>