<template>
    <div class="container">
        <div class="alert-holder">
            <div v-if="message" class="alert alert-primary" role="alert">{{ message }}</div>
        </div>
        <div class="loader-holder" v-if="loading">
            <div class="loading">
                Loading...
            </div>
        </div>
        <div class="groups col-md-12">
            <div v-if="error" class="col-md-12 error">
                {{ error }}
                <p>
                    <button @click.prevent="fetchData">
                        Try Again
                    </button>
                </p>
            </div>

            <button @click.prevent="onCreate($event)" type="submit" class="btn btn-success add-group"
                    :disabled="saving || checkGroups()">
                New
            </button>

            <div v-if="groups.length" class="row groups-holder">
                <div v-for="{ id, name, teams } in groups" class="col-md-4">
                    <router-link :to="{ name: 'groups.edit', params: { id } }">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Group - <span class="text-uppercase">{{ name }}</span></th>
                                        <th class="text-right">
                                            <button @click.prevent="onDelete(id)" type="button" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="teams.length">
                                    <tr v-for="{ id, name } in teams">
                                        <td>{{ name }}</td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                    <tr>
                                        <td><h4>There are no teams in the group!</h4></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
            <div v-else>
                <h3>You don't have any groups.</h3>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../api/groups';

    export default {
        data() {
            return {
                loading: false,
                message: null,
                saving: false,
                groups: {},
                error: null
            }
        },
        methods: {
            onDelete(id) {
                api.delete(id)
                    .then((response) => {
                        this.message = 'Group deleted';
                        setTimeout(() => this.message = null, 2000);
                        this.loading = true;
                        api.all()
                            .then((response) => {
                                this.loading = false;
                                this.groups = response.data.data
                            }).catch((err) => {
                            this.$router.push({name: '404'});
                        });
                    }).catch(error => {
                    alert(error.response.data.message);
                });
            },
            onCreate(event) {
                this.saving = true;
                api.create().then((response) => {
                    this.message = 'Group created';
                    setTimeout(() => this.message = null, 2000);
                    api.all()
                        .then((response) => {
                            this.loading = false;
                            this.groups = response.data.data
                        }).catch((err) => {
                        this.$router.push({name: '404'});
                    });
                }).catch((error) => {
                    alert(error.response.data.message);
                    this.saving = false
                }).then(_ => this.saving = false)
            },
            checkGroups() {
                // if(this.groups === null || this.groups.length > 25){
                //     return false;
                // }
            }
        },
        created() {
            this.loading = true;
            api.all()
                .then((response) => {
                    this.loading = false;
                    this.groups = response.data.data;
                }).catch((err) => {
                this.$router.push({name: '404'});
            });
        }
    }
</script>

<style lang="scss" scoped>
    .list-group {
        margin-bottom: 20px;
    }

    .add-group {
        margin-bottom: 20px;
    }

    .alert-holder {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .loader-holder {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100000;
        top: 0;
    }

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: 36px;
    }
</style>