<template>
    <div class="container">
        <div class="alert-holder">
            <div v-if="message" class="alert alert-primary" role="alert">{{ message }}</div>
        </div>
        <div class="loader-holder" v-if="loading">
            <div class="loading">
                Loading...
            </div>
        </div>
        <div class="col-md-12 group">
            <div v-if="error" class="error">
                {{ error }}
                <p>
                    <button @click.prevent="fetchData">
                        Try Again
                    </button>
                </p>
            </div>

            <div class="row" v-if="group">
                <div class="col-md-8">
                    <form @submit.prevent="onTeamSubmit($event)">
                        <div class="form-group">
                            <label for="user_name">Team:</label>
                            <input id="user_name" v-model="newTeam.name"/>
                            <button type="submit" class="btn btn-success" :disabled="saving || !newTeam.name">Add
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Group - <span class="text-uppercase">{{ group.name }}</span></th>
                        </tr>
                        </thead>
                        <tbody v-if="group.teams.length">
                        <tr v-for="{ id, name } in group.teams">
                            <td>{{ name }}</td>
                            <td class="text-right">
                                <button @click.prevent="onHandleDelete(id)" type="button" class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <tr>
                            <td colspan="2"><h4>There are no teams in the group!</h4></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="5" class="text-center">Matches</th>
                        </tr>
                        </thead>
                        <tbody v-if="group.matches.length">
                        <tr v-for="{ id, host, host_score, guest, guest_score } in group.matches" :index="id" :key="id"
                            v-bind:value="id">
                            <td class="text-left">{{ host }}</td>
                            <td class="text-right">
                                <input class="score" :id="`host_${id}`" v-model="host_score" :name="`host_${id}`"
                                       @change="onChangeHost(id, host_score)"/>
                            </td>
                            <td class="text-center">:</td>
                            <td class="text-left">
                                <input class="score" :id="`guest_${id}`" v-model="guest_score" :name="`host_${id}`"
                                       @change="onChangeGuest(id, guest_score)"/>
                            </td>
                            <td class="text-right">{{ guest }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <button type="button" @click.prevent="onGenerate()" :disabled="checkGenerate()"
                                        class="btn btn-success">
                                    Generate
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-12">
                    <button @click.prevent="onHandleBack()" type="button" class="btn btn-primary">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import groupApi from '../api/groups';
    import teamApi from '../api/teams';
    import matchesApi from '../api/matches';

    export default {
        data() {
            return {
                loading: false,
                message: null,
                group:
                    {
                        id: null,
                        name: null,
                        teams: [],
                        matches: [],
                    },
                matches: null,
                saving: false,
                newTeam: {
                    name: null
                },
                error: null,
                test: [{id: 1, name: 'Team a'}, {id: 2, name: 'Team b'}],
                simpleData: null
            }
        },
        methods: {
            onTeamSubmit(event) {
                this.saving = true;

                teamApi.create({
                    group_id: this.group.id,
                    name: this.newTeam.name
                }).then((response) => {
                    this.message = 'Team created';
                    this.newTeam.name = null;
                    setTimeout(() => this.message = null, 2000);
                    groupApi.find(this.$route.params.id)
                        .then((response) => {
                            this.loading = false;
                            this.group = response.data.data
                        }).catch((err) => {
                        this.$router.push({name: '404'});
                    });
                }).catch((error) => {
                    alert(error.response.data.message);
                    this.saving = false
                }).then(_ => this.saving = false)
            },
            onHandleDelete(id) {
                teamApi.delete(id)
                    .then((response) => {
                        this.message = 'Team deleted';
                        setTimeout(() => this.message = null, 2000);
                        groupApi.find(this.$route.params.id)
                            .then((response) => {
                                this.loading = false;
                                this.group = response.data.data
                            }).catch((err) => {
                            this.$router.push({name: '404'});
                        });
                    }).catch(error => {
                    alert(error.response.data.message);
                });
            },
            onMatchUpdate(id) {
                matchesApi.update(id, data)
                    .then(response => {
                        this.message = 'Match score updated';
                        setTimeout(() => this.message = null, 2000);
                        groupApi.find(this.$route.params.id)
                            .then((response) => {
                                this.loading = false;
                                this.group = response.data.data;
                            }).catch((err) => {
                            this.$router.push({name: '404'});
                        });
                    }).catch(error => {
                    alert(error.response.data.message);
                });
            },
            onGenerate() {
                matchesApi.generate(this.group.id)
                    .then((response) => {
                        this.loading = true;
                        this.message = response.data.data.message;
                        setTimeout(() => this.message = null, 2000);
                        groupApi.find(this.$route.params.id)
                            .then((response) => {
                                this.loading = false;
                                this.group = response.data.data
                            }).catch((err) => {
                            this.$router.push({name: '404'});
                        });
                    }).catch(error => {
                    alert(error.response.data.message);
                })
            },
            checkGenerate() {
                if (this.group.teams.length < 2) {
                    return true;
                }
            },
            onHandleBack(event) {
                this.$router.push({name: 'groups.index'})
            },
            onChangeHost(id, host_score) {
                this.loading = true;
                const data = {
                    'host_score': host_score
                };
                matchesApi.update(id, data)
                    .then(response => {
                        this.loading = false;
                        this.message = "Score updated";
                        setTimeout(() => this.message = null, 2000);
                        groupApi.find(this.$route.params.id)
                            .then((response) => {
                                this.loading = false;
                                this.group = response.data.data;
                            }).catch((err) => {
                            this.$router.push({name: '404'});
                        });
                    }).catch(error => {
                    alert(error.response.data.message);
                    this.loading = false;
                });
            },
            onChangeGuest(id, guest_score) {
                this.loading = true;
                const data = {
                    'guest_score': guest_score
                };
                matchesApi.update(id, data)
                    .then(response => {
                        this.loading = false;
                        this.message = "Score updated";
                        setTimeout(() => this.message = null, 2000);
                        groupApi.find(this.$route.params.id)
                            .then((response) => {
                                this.loading = false;
                                this.group = response.data.data;
                            }).catch((err) => {
                            this.$router.push({name: '404'});
                        });
                    }).catch(error => {
                    alert(error.response.data.message);
                    this.loading = false;
                });
            }
        },
        created() {
            this.loading = true;
            groupApi.find(this.$route.params.id)
                .then((response) => {
                    this.loading = false;
                    this.group = response.data.data;
                }).catch((err) => {
                this.$router.push({name: '404'});
            });
        }
    }
</script>

<style lang="scss" scoped>
    .score {
        width: 40px;
        text-align: center;
    }

    .alert-holder {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .loader-holder {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100000;
        top: 0;
    }

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: 36px;
    }
</style>