<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Not Found</h2>
                <h4>Woops! Looks like the page you requested cannot be found.</h4>
            </div>
            <div class="col-md-12">
                <button @click.prevent="handleBack()" type="button" class="btn btn-primary">Go Back</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        methods: {
            handleBack(event){
                this.$router.push({name: 'groups.index'})
            }
        }
    }
</script>